*{
    padding:0;
    margin:0;
}  

body{
    background-image:linear-gradient(rgb(264,264,264),rgb(215,215,215));
	height:100%;
	background-size:cover;
	background-attachment:fixed;
}
#wrapper{
    width:1100px;
    margin:auto;
}




/*************************************************		HEDER		*****************************************/

#mainHeader {
    overflow: hidden; margin:0 10%;
}

#mainHeader .logo-image{
    float:left;
}
#mainHeader>.logo-image img{
    width:400px;
    height:auto;
}


#mainHeader>.social-network-icons{
    margin-top: 50px;
    float:right;
}
#mainHeader>.social-network-icons>img{
    width:30px;
    height: auto;
    cursor: pointer;
} 





/******************************************		NAVIGACIJA		*******************************************/



nav{
    overflow: hidden;
    width:100%;
    background-color: cornflowerblue;
	position:sticky;
	top:0px;
}

/*Navigcioni meni*/

nav ul{
    list-style-type:none ;
    margin: 0 10%;
}
nav ul li{
    float:left; 
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    min-width:50px;
    padding:10px;
    color:white; 
	line-height:1;
}
nav ul li a:hover{
    background-color: red;   
}

/* Korpa-sliÄica */

.cart {
	float:right;
	margin-right:100px; 
	
}
.cart a{
	display: inline-block;
	height:calc(1em + 20px);
	min-width:80px;
	text-align:center;
	
}
.cart img{
	height:2em;	 
}
.cart>a:hover{
	background-color:red;
}





/***********************************************		MAIN		*********************************************/



/*		CONTENT			*/

main{
    min-height: 1000px;
	margin:2% 10%;
    overflow: hidden;
}
main .content-grid-container, main>asaid{
    float:left;
}
main .content-grid-container{
    width:70%;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}

/* Products */

  .product-grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.4fr;
    grid-template-rows: 1.9fr 0.6fr 0.4fr;
    gap: 5px 5px;
    grid-template-areas: "product-img product-img" "product-name add-img" "product-price add-img";
    box-shadow:3px 3px 3px transparent;
  }
  .product-grid-container:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .product-img { grid-area: product-img; background-color: white; height:150px; }
  .product-name { grid-area: product-name; font-family: tahoma; font-size: 1.2em; padding-top: 8px;}
  .product-price { grid-area: product-price;  color:red; font-weight: bold;}
  .add-img { grid-area: add-img;  padding-top:1em;}
  .add-img img{width:100%; height: auto;}
  .product-img>img{
      width:100%;
      height: auto;
  }
  
 
/*		ASAID		*/

main>asaid{
    margin-left:30px;
    width:calc(30% - 30px);
    height:auto; 
}
asaid .filter-box>h3{
    text-align: center;
    margin:10px 0;
}
asaid section.filter-box>.options{
    width:auto;
    max-height: 200px;
    overflow: auto; 
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
}
asaid .filter-box>.options>.option{
    display: block;
    cursor:pointer;
    margin:20px;
  }

asaid .filter-box>.options>.option>span.name{
    display: inline-block;
    padding-left: 30px; 
}
asaid .filter-box>.options>.option>span.color{
    display: inline-block; 
    width:12px; 
	height:12px;
	border-radius:10px;
	border:1px solid transparent;
}

input[name="color"]{
    width:0;
    height:0;
    opacity:0;
}
input[name="color"]:checked + span{
    border:1px solid grey 	!important;	 
}
 
.color.black{background-color: black;}
.color.blue{background-color: blue;}
.color.white{background-color: white;}
.color.yellow{background-color: yellow;}
.color.red{background-color: red;}






/******************************************		FOOTER		****************************************************/


footer.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: "section1 section2 section3";
    background-color:rgb(195,195,195);
    text-align: center;
    justify-items: center; 
    color:white;
  }
  footer>div{
      max-width:200px;
  }
  footer>div>h3{
      padding:10px 0;
  }
  .section3 { grid-area: section3; }
  .section1 { grid-area: section1; }
  .section2 { grid-area: section2; }